@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

h1,
p,
label {
	font-family: 'Roboto', sans-serif;
}

.MuiPaper-root {
	margin-top: 3rem;
	margin-bottom: 3rem;
	padding: 2rem;
}

.error {
	color: red;
	margin-bottom: 1rem;
}

@media (max-width: 500px) {
	.MuiToggleButtonGroup-root {
		display: flex;
		flex-direction: column;
	}
}
